ion-col, ion-content {
  text-align: center;
}

a {
  width: 60%;
  
  img {
      width: 50%;
      border-radius: 30%;
  }
}

ion-content div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/images/bg.png);
  padding: 20px 0;

  h1 {
    color: white;
    margin: 0;
  }

}




