<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Flappy Nghia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1><i>Wähle deinen Nghia aus</i></h1>

    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <a routerLink="/game" [queryParams]="{fig: 1}">
            <img src="../../assets/images/square-nghia1.jpg" />
          </a>
        </ion-col>

        <ion-col size="12">
          <a routerLink="/game" [queryParams]="{fig: 2}">
            <img src="../../assets/images/square-nghia2.jpg" />
          </a>
        </ion-col>

        <ion-col size="12">
          <a routerLink="/game" [queryParams]="{fig: 3}">
            <img src="../../assets/images/square-nghia3.jpg" />
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>